body {
    max-width: 1280px;
    margin: auto;
    font-family: "Roboto";
}

header {
    text-align: center;
    background-image: url("images/header.jpg");
    background-position: 0 75%;
}

header h2 {
    font-size: 4em;
    color: #74a0d2;
    margin: 0;
    padding: 1em 0;
}

header h3 {
    font-size: 2em;
    color: white;
}

header h4 {
    font-size: 0.75em;
    color: white;
}

.author {
    text-align: center;
}

.author img {
    border: 4px solid white;
    border-radius: 50%;
    margin-top: -50px;
}

address a {
    color: gray
}

main {
    width: 70%;
    margin: auto;
}

main figure {
    margin-left: 0;
}

main figcaption {
    float: left;
    margin-left: -13em;
    width: 11.5em;
}

main figure img {
    width: 90%;
}

#map {
    height: 360px;
    width: 90%;
    border: 1px solid black;
}

.back {
    float: left;
}

.next {
    float: right;
}

footer {
    padding: 1em 0 3em 0;
}

@media only screen and (max-width: 900px) {
    main figure figcaption {
        float: none;
        margin-left: 0;
        width: auto;
    }
}